<!DOCTYPE html>
<html>
<head>
  <title>Railway Stations</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<table>
  <tr>
    <td>
      <hr color="lightblue" />
    </td>
  </tr>
  <tr>
    <td width="80%" align="center" valign="center">
      &copy; 2016 Aleksandr Kudashkin. Class project at online school for developers Thinknetica.
    </td>
  </tr>
</table>
</body>
</html>
