<p><%= t('common.hello') %>, <%= @user.first_name %></p>

<p>You have bought a train ticket for the route: <br />
You can check you ticket <%= link_to "here", @ticket %> <br />
Or you can also <%= link_to "check all your tickets", user_tickets_url(@user) %> <br /></p>
