h1= t('.title')
= render 'form', station: @railway_station
br
br
= link_to t('common.show'), [:admin, @railway_station], class: "btn btn-sm btn-default"
= link_to t('common.back'), [:admin, :railway_stations], class: "btn btn-sm btn-default"
