h1
  = t('.title')
= render 'form', route: @route
br
br
= link_to t('common.show'), [:admin, @route], class: "btn btn-sm btn-default"
= link_to t('common.back'), [:admin, :routes], class: "btn btn-sm btn-default"
