h1 Editing Ticket
= render 'form'
br
br
= link_to 'Show', [:admin, @ticket], class: "btn btn-sm btn-default"
= link_to 'Back to train tickets', [:admin, @ticket.train, :tickets], class: "btn btn-sm btn-default"
