<p id="notice"><%= notice %></p>

<h1>Listing Coaches</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "coaches/coach", collection: @coaches %>
  </tbody>
</table>

<br>

<%= link_to 'New Coach', new_coach_path %>
