   <tr>
     <td><%= ticket.id %></td>
     <td><%= link_to t('.show'), ticket %></td>
     <td><%= link_to t('.destroy'), ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
   </tr>
